#filecomm.winoverlay
  #load-ind
  #propheading
    span.forfile
    span.fpclose &times;
  .commlist
    .commarea('display', 'none')
      span.commauth
      p.commbody
  span There are no comments here yet!
  form#commform(method='post', action='/comment')
    input#cfp.hf(type='text', name='cfp')
    input#cfn.hf(type='text', name='cfn')
    textarea#ncb.form-control(name='ncb')
    button#addcomm.btn.btn-primary.btn-md(type='submit') Submit
