#fileprop
  #load-ind
  #propheading
    span#forfile
    span.fpclose &times;
  div.fpfield
    span.flbl Type
    span#ftype
  div.fpfield
    span.flbl Owner
    span#fowner
  div.fpfield
    span.flbl Size
    span#fsize
  div.fpfield
    span.flbl Extension
    span#fext
  div.fpfield
    span.flbl Path
    span#fpath
  div.fpfield
    span.flbl Date added
    span#fdate
  div.fpfield
    span.flbl Shared
    span#fshared
  button#fpdownload Download
  #prevcont
    span.flbl#prevlbl Preview
    img#fpprev(src='')
