extends layout

block top
  link(rel='stylesheet', href='/stylesheets/less/forms.css')

block content
  #maincontent
    span.fpheading Register
    form(action='/register', method='POST')
      .form-group
        label Username
        input.form-control(type='text', name='username')
      .form-group
        label Password
        input.form-control(type='password', name='password')
      .form-group
        label Email Address
        input.form-control(type='text', name='email')
      //- .form-group
      //-   label Group
      //-   input.form-control(type='text', name='group')
      .form-group
        label Storage Limit
        input.form-control(type='number', name='storage')
      button.btn.btn-primary.btn-md(type='submit') Sign up

    if errs
      each error in errs
        p= error.msg
