label {
  font-variant: small-caps;
  color: #969696;
  font-weight: bold;
  font-size: 15px;
}
#maincontent {
  padding: 0 1%;
}
#topheading {
  font-size: 24px;
  font-weight: bold;
}
#register-section {
  margin: 1% 0;
}
#adminuser {
  display: none;
}
