extends ../layout

block top
  link(rel='stylesheet',  href='/stylesheets/less/forms.css')

block content
  script(type='text/javascript', src='/javascripts/precision.js')
  #maincontent
    span#topheading Global Setup
    form#global-settings(method='post', action='/procsetup/1')
      .form-group.reggroup
        input#openreg(type='checkbox', name='openreg')
        label(for='openreg') Open registration
      .form-group
        label(for='maxspace') Default max space per user (in KB)
        input.setup-form.gran(type='number', name='maxspace', min='0', max='99999999999', step='1', placeholder='Hold shift for large changes, ctrl for larger changes')
      .form-group
        button(type='submit') Next part
