extends ../layout

block top
  link(rel='stylesheet',  href='/stylesheets/less/forms.css')

block content
  script(type='text/javascript', src='/javascripts/precision.js')
  #maincontent
    span#topheading Global Setup
    #global-settings
      .form-group.reggroup
        input#openreg(type='checkbox', name='openreg')
        label(for='openreg') Open registration
      .form-group
        label(for='maxspace') Default max space per user (in KB)
        input.form-control.gran(type='number', name='maxspace', min='0', step='1', placeholder='Hold shift for large changes, ctrl for larger changes')
