extends ../layout

block top
  link(rel='stylesheet',  href='/stylesheets/less/forms.css')

block content
  #maincontent
    span#topheading Admin Setup
    form#register-section(method='post', action='/procsetup/2')
      .form-group.reggroup#adminuser
      .form-group.reggroup
        label(for='admpass') Admin password
        input.setup-form#admpass(type='password', name='admpass')
      .form-group.reggroup
        label(for='admpassconf') Admin password confirmation
        input.setup-form#admpassconf(type='password', name='admpassconf')
      .form-group.reggroup
        label(for='email') Admin email
        input.setup-form#admemail(type='email', name='admemail')
      .form-group.reggroup
        label(for='email') Admin storage limit
        input.setup-form#admstlim(type='number', name='admstlim')
      .form-group
        button(type='submit') Finish
