/***********************
* grey: #414141,       *
* light red: #FF4545,  *
* red: #DE1C1C,        *
* white: #FFFFFF,      *
* light green: #31DE62 *
***********************/

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('/images/black-linen.png');
    background-color: #414141;
}

a {
    color: #00B7FF;
}

#flashmessage {
    position: fixed;
    top: 384px;
    max-height: 72px;
    max-width: 280px;
    overflow: hidden;
    padding: 2px 8px;
    background-color: #FF4545;
    z-index: 99;
}

#flashmessage span {
    text-transform: lowercase;
    font-size: 2em;
    color: #FFFFFF;
    overflow: hidden;
    height: 100%;
}

#statusbar, div#lbar {
    position: fixed;
    bottom: 0;
    width: inherit;
    background-color: #414141;
    padding: 32px 0;
    height: 110px;
}

#statusbar span {
    color: white;
    vertical-align: middle;
}

#menubar {
    width: inherit;
    overflow: hidden;
    padding: 20px 0;
    position: fixed;
    bottom: 110px;
    background-color: #525252;
}

#maincontent {
    height: 100%;
    width: 90%;
    color: #414141;
    margin: 0 auto;
    background-color: #FFFFFF;
}

#dbar {
    position: fixed;
    top: 0;
    height: 32px;
    width: inherit;
}

#fman {
    position: relative;
    top: 32px;
}

#directory {
    width: 100%;
}

.authbox {
    margin: 0 2%;
    width: 46%;
    color: white;
}

#directory, .authbox {
    background-color: #414141;
    border-style: none none solid none;
    border-color: #888888;
    border-width: 1px;
    padding: 4px 8px;
    font-family: 'Open Sans';
    font-size: 2em;
}

#fileprop {
  display: none;
  position: fixed;
  top: 18%;
  left: 35%;
  width: 28%;
  height: 64%;
  z-index: 99;
  background-color: white;
  border: black thin solid;
  padding: 1%;
  overflow-y: auto;
}

#fpdownload {
  background-color: #DE1C1C;
  border: thin solid #414141;
  color: white;
  font-weight: bold;
  padding: 8px 32px;
  margin: 12px 0;
}

#propheading {
  border-bottom: #939393 thin solid;
  padding-bottom: 4px;
}

#forfile {
  font-weight: bold;
  font-size: 1.25em;
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

#prevcont {
  width: 100%;
  padding: 4px;
  border: #939393 thin solid;
  margin-top: 4px;
}

#prevlbl {
  margin-bottom: 4px;
}

#fpprev {
  width: 100%;
}

.fpclose {
  height: 100%;
  width: 4%;
  float: right;
  text-align: center;
  cursor: pointer;
}

.sbbutton {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.sb-xs {
    font-size: 1em;
}

.sb-s {
    font-size: 1.33em;
}

.sb-m {
    font-size: 1.67em;
}

.sb-l {
    font-size: 2em;
}

.sb-xl {
    font-size: 2.33em;
}

.mbtn {
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.fih {
    height: 100%;
    background-color: #45FF7A;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
}

.fih:hover {
    cursor: pointer;
    background-color: #31DE62;
}

.filename {
    margin-left: 8px;
}

.fileobj, #toparent {
    overflow: hidden;
    padding: 8px 0;
    cursor: pointer;
}

.fileobj:hover, #toparent:hover {
    background-color: #BBBBBB;
    color: white;
}

.flbl {
  font-weight: bold;
  width: 30%;
  display: inline-block;
}

.fpfield {
  padding: 4px 2px;
  margin: 2px 0;
}
